.social {
    position: fixed; /* Hacemos que la posición en pantalla sea fija para que siempre se muestre en pantalla*/
    right: 17px; /* Establecemos la barra en la izquierda */
    top: 645px; /* Bajamos la barra 50px de arriba a abajo */
    border-radius: 30%;    
    cursor: pointer;  
    z-index: 2000; /* Utilizamos la propiedad z-index para que no se superponga algún otro elemento como sliders, galerías, etc */
}

.social ul {
    list-style: none;
}

.social ul li a {
    display:block;
    color:#fff;
    background: #000;
    padding: 25px 25px;
    border-radius: 35%;
    text-decoration: none;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition:all 500ms ease; /* Establecemos una transición a todas las propiedades */
}

.social ul li .icono {background:#3b5998; background-image: url(./imagenes/wp.png);} /* Establecemos los colores de cada red social, aprovechando su class */
    
