@import url('https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans:ital,wght@1,300&family=Palanquin:wght@300&family=Roboto+Condensed:wght@400;700&display=swap');

body, html {
    height: 100%;
    margin: 0;
    font-family: 'roboto, Condensed', sans-serif;
    line-height: 180%;
    color: #444;
    text-align: center;
}

.foto1 {
    background-image: url(imagenes/foto300.jpg);
    min-height: 100%;
}
.foto2 {
    background-image: url(imagenes/foto2.jpg);
    min-height: 60%;
}
.foto3 {
    background-image: url(imagenes/foto3.png);
    min-height: 40%;
}

.foto3:hover {
    filter: saturate(250%);
}

.foto30 {
    background-image: url(imagenes/foto30.jpg);
    min-height: 100%;
    line-height: 80%;
}
.foto1, .foto2, .foto3, .foto30 {
    position: relative;
    opacity: 0.75;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.letrero {
    color: #fbfbfb;
    font-size: 350%;
    top: 50%;
}
.letrero2 {
    color: #0ad1f9;
    font-size: 300%;
    top: 57%;}
.letrero3{
    color: #0ad1f9;
    font-size: 350%;
    top: 64%;}
.letrero4 {
    color: rgb(3, 48, 3);
    font-size: 250%;
    top: 45%;
    text-transform: none !important;}
.letrero, .letrero2, .letrero3, .letrero4 {
    position: absolute;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 8px;
    text-shadow: 0 0 10px #000;}
section{    
    padding: 50px 80px;}
.dark {
    background-color: #444;
    color: #fff;}


.web1, .web2, .web3 {
    width: 360px;
    height: 220px;}
.web1:hover, .web2:hover, .web3:hover {
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
    filter: saturate(250%);
    -webkit-transition:all 800ms ease;
	-o-transition:all 800ms ease;
	transition:all 800ms ease;}

@media (max-width: 1000px) {
    #carrusel {
        flex-direction: column;  
        align-content: center;}}

@media (max-width: 700px) {
    .web1, .web2, .web3 {       
        padding-block-start: 35px;        
        width: 250%;   
        height: auto;}}

@media (max-width: 768px) {
    .letrero{
        font-size: 140%;}
    .letrero2 {
        font-size: 120%;}
    .letrero3 {
        font-size: 130%;}
}
footer {
    background-size: cover;
    background-color: #444;
    color: #fff;
    text-align: center;
    padding: 5px;
    margin-top: 0px;} 
